#editor {
    position: relative;
    background-color: $editor-color;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .editor-option-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: '';
            position: absolute;
            transition: box-shadow 400ms;
        }

        &.selected:before {
            box-shadow: 0 0 2em 1.2em $icon-shadow-color;
        }
        &.selected.yes {
            .editor-option-icon {
                color: $green-color;
            }
        }
        &.selected.no {
            .editor-option-icon {
                color: $red-color;
            }
        }
    }

    .editor-option-icon {
        width: 3em;
        height: 3em;
        z-index: 0;
        transition: color 200ms;
    }
}

#editor-overflow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $overflow-color;
}
